body {
    overflow-x: visible !important;
    min-height: 100%;
}

.layout {
    // min-height: 100%;
    position: relative;

    @include mq-down(xl) {
        align-content: center;
        justify-content: center;
    }

    .header {
        grid-area: header;
        padding: $spacing-y, 0, 1rem, 0;
    }

    .main {
        position: relative;
    }

    .l-sidebar {
        grid-area: sidebar;
        background-color: $primary-color;
        min-width: 100px;
        @include mq-down(lg) {
            min-width: 250px;
        }
    }

    .r-sidebar {
        grid-area: r-sidebar;
        background-color: $primary-color;
        min-width: 100px;
        @include mq-down(lg) {
            min-width: 250px;
        }
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: $primary-color;
        a {
            color: $gray-dark;
        }
    }

    @include mq(lg) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 5% 1fr auto;
        grid-template-areas:
            'sidebar header r-sidebar'
            'sidebar main r-sidebar'
            'sidebar footer r-sidebar';
    }
}

.container {
    padding-left: 10%;
    padding-right: 10%;

    @include mq(xl) {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: $container-max-width;
    }

    // @include mq-down(lg) {
    //     // top: 50%;
    //     left: 50%;
    //     -webkit-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    //     max-width: $container-max-width - 300;
    // }
}

.grid {
    display: grid;
    column-gap: $spacing-x * 2;
    page-break-inside: avoid;

    &--2col {
        grid-template-columns: 1fr 1fr;
    }
}
