// Main Layout

// body {
//     overflow-x: auto;
// }

.layout {
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header {
        grid-area: header;
        padding: $spacing-y, 0, 1rem, 0;
    }

    .main {
        position: relative;
    }

    .l-sidebar {
        grid-area: sidebar;
        background-color: $primary-color;
        min-width: 96px;
    }

    .r-sidebar {
        grid-area: r-sidebar;
        background-color: $primary-color;
        min-width: 96px;
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: $primary-color;
    }

    @include mq(lg) {
        display: grid;
        // grid-template-columns: 5% 1fr;
        grid-template-columns: auto 1fr;
        grid-template-rows: 5% 1fr auto;
        grid-template-areas:
            'sidebar header r-sidebar'
            'sidebar main r-sidebar'
            'sidebar footer r-sidebar';
    }
}

.container {
    padding-left: 7%;
    padding-right: 7%;

    @include mq(lg) {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: $container-max-width;
    }

    // @include mq(lg) {
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     -webkit-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    //     max-width: $container-max-width;
    // }
}

.grid {
    display: grid;
    column-gap: $spacing-x * 2;
    page-break-inside: avoid;

    &--2col {
        grid-template-columns: 1fr 1fr;
    }
}
