<footer class="footer">
        <a href='https://ryanmartin.io'>
            <p>&copy; {{ ryan.name }}</p>
        </a>
        <p>
            Last updated on {{ build.timestamp | dateToFormat('DDDD') }}
        </p>
</footer>