<div class="vcard">
    {% if ryan.avatar %}
        {%- set avatarUrl -%}/assets/images/{{ ryan.avatar }}{% endset %}
        <img class="vcard__avatar" src="{{ avatarUrl | base64file }}" width="350" height="350" alt="{{ ryan.name }}" />
    {% endif %}

    <div class="vcard__content">
        <div class="vcard__title">
            <h1 class="vcard__name">{{ ryan.name }}</h1>
        </div>
        <p class="vcard__subtitle">
            <span>{{ ryan.occupation }} from {{ ryan.location }}</span>
        </p>

        <div class="vcard__contact">
            {% if ryan.email %}
                <a class="vcard__link" aria-label="Email" href="mailto:{{ ryan.email | obfuscate | safe }}">
                    {% icon "email" %}
                    <span class="vcard__link-text">{{ ryan.email | obfuscate | safe }}</span>
                </a>
            {% endif %}
            {% if ryan.telephone %}
                <a class="vcard__link" aria-label="Telephone" href="tel:{{ ryan.telephone | stripSpaces }}">
                    {% icon "telephone" %}
                    <span class="vcard__link-text">{{ ryan.telephone }}</span>
                </a>
            {% endif %}
            {% if ryan.website %}
                <a class="vcard__link" aria-label="Website" href="{{ ryan.website }}">
                    {% icon "laptop" %}
                    <span class="vcard__link-text">{{ ryan.website | stripProtocol }}</span>
                </a>
            {% endif %}

            {% if ryan.social %}
                <div class="vcard__social">
                    {% for social in ryan.social %}
                        <a class="vcard__link" href="{{ social.url }}" aria-label="{{ social.name }}" rel="me">
                            {%- set isSocialIcon = true -%}
                            {%- icon social.name, isSocialIcon -%}
                            <span class="vcard__link-text p-nickname">{{- social.user -}}</span>
                            <span class="sr-only">on {{ social.name }}</a>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>