.actions {
    display: flex;
    justify-content: center;

    &__btn {
        @include button-reset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        background-color: #354F52;
        border-radius: 50%;
        color: $white;

        @include hover-focus {
            transform: scale(1.1);
            transition: all .432s ease;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }

    @include mq(lg) {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 250px;
        left: .35%;
        padding: 0 0.5rem;
        text-align: right;

        &__btn {
            margin: 0.5rem 1rem;
        }

        .js-scrolled & {
            display: block;
        }
    }
}
