.icon {
    display: inline-block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    fill: currentColor;
    pointer-events: none;
}

.languages {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-right: 15px;

    .icon--typescript
    .icon--javascript {
        padding-left: 5px;
    }

    .icon--golang {
        padding-right: 5px;
    }

    svg {
        height: 200%;
        width: 200%;
    }
}
