.section {
    padding-top: $spacing-y - 100;
    padding-bottom: $spacing-y;
    page-break-inside: avoid;

    &__title {
        margin-bottom: $spacing-y;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $gray;
    }

    &__skills {
        display: flex;
        max-height: 400px;
        max-width: 400px;
        padding-left: $spacing-y - 100;
        padding-right: $spacing-y - 100;
    }

    &__contact {
        .markdown {
            height: 10000
        }
        .calendly-inline-widget * {
        // body > div.layout.h-resume > main > section.section__contact > div > div > div > div > iframe {
            // p
            // height: 6000px
            // @include mq(xl, true;) {
            //     height: 575px;
            // }
            // @include mq(lg, true) {
            //     height: 475px;
            // }
            // @include mq(md, true) {
            //     height: 375px;
            // }
        }
    }
}

.grid .section {
    grid-column: span 2;

    @include mq(md, true) {
        &--half {
            grid-column: span 1;
        }
    }
}
