// ToolTip

.has-tooltip {
    &[aria-label] {
        position: relative;
        &::after {
            display: block;
            content: attr(aria-label);
            width: auto;
            position: absolute;
            z-index: -1;
            bottom: 25%;
            left: $spacing-x * 2.4;
            padding: 0.40rem 0.5rem;
            font-size: 0.75rem;
            white-space: nowrap;
            line-height: 1;
            color: $white;
            background-color: $secondary-color;
            border-radius: 0.25rem;
            opacity: 0;
            transition: all .432s ease;
            pointer-events: none;
        }
        &:hover::after {
            display: block;
            opacity: 1;
            z-index: 100;
        }
    }
}
