.vcard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 2%;

    @include mq-down(xl) {
        margin-top: 3%;
        align-content: center;
        justify-content: center;
    }

    &__content {
        padding-top: 0.5rem;
    }
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        @include mq-down(lg) {
            position: relative;
            left: 20px;
        }
    }
    &__subtitle {
        padding: 0.3rem;
        font-size: 1.5rem;
        @include mq-down(lg) {
            position: relative;
            left: 50px;
        }
    }
    &__avatar {
        width: 11rem;
        height: 11rem;
        flex: 0 0 11rem;
        border-radius: 50%;
        box-shadow: $box-shadow-elevated;
        margin-right: $spacing-x;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: $secondary-color;

        @include hover-focus {
            text-decoration: none;
            .vcard__link-text {
                font-size: 1rem;
                color: $ash-gray;
                text-decoration: underline;
            }
        }

        .icon {
            margin-right: 0.14em;
            color: $secondary-color;
        }
    }

    @include mq(md) {
        &__social {
            display: flex;
            flex-wrap: wrap;

            .vcard__link {
                margin-bottom: 0.4em;
            }
        }

        &__link {
            display: inline-flex;
        }
    }

    // @include mq(lg) {
    //     padding: 2rem 0;
    //     @supports (display: grid) {
    //         &__avatar {
    //             // position: fixed;
    //             .js-scrolled & {
    //                 position: sticky;
    //                 // right: 82.8% ;
    //                 top: 2rem;
    //                 transform: translateX(-230%) translateY(105%) scale(0.9);
    //                 transition: transform .3s ease;
    //             }
    //         }
    //     }
    // }
}
