.vcard {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__content {
        padding-top: .5rem;
    }
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    &__subtitle {
        padding: .3rem;
        font-size: 1.5rem;
    }
    &__avatar {
        width: 11rem;
        height: 11rem;
        flex: 0 0 11rem;
        border-radius: 50%;
        box-shadow: $box-shadow-elevated;
        margin-right: $spacing-x;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: $secondary-color;

        @include hover-focus {
            text-decoration: none;
            .vcard__link-text {
                font-size: 1rem;
                color: $ash-gray;
                text-decoration: underline;
            }
        }

        .icon {
            margin-right: 0.140em;
            color: $secondary-color;
        }
    }

    // TODO: fix name media query
    // @include mq(sm) {
    //     &__name {
    //         font-size: 2rem;
    //     }
    // }

    @include mq(md) {
        &__social {
            display: flex;
            flex-wrap: wrap;

            .vcard__link {
                margin-bottom: 0.4em;
            }
        }
        &__link {
            display: inline-flex;
        }
        // &__name {
        //     font-size: 2.2rem;
        // }
    }

    @include mq(lg) {
        padding: 1rem 0;
        @supports (display: grid) {
            &__avatar { // TODO: fix avatar to sidebar when scrolling
                .js-scrolled & {
                    // right: 82.8% ;
                    // position: fixed;
                    // top: 2rem;
                    // transform: translateX(50%) scale(.9);
                    // transition: transform 0.3s ease;
                }
            }
        }
    }
}
