.vcard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 2%;
  margin-top: 3%;
  align-content: center;
  justify-content: center;

  &__content {
    padding-top: 0.5rem;
  }

  &__title {
    @include mq-down(lg) {
      display: flex;
      flex-wrap: none;
      position: relative;
      margin-left: 8%;
    }

    @include mq-down(md) {
      margin-left: 0%;
      h1 {
        font-size: 2rem;
      }
    }
  }
  &__subtitle {
    padding: 0.3rem;
    font-size: 1.5rem;

    @include mq-down(lg) {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      position: relative;
      text-align: center;
      span {
        // left: 50px;
      }
    }

    @include mq-down(md) {
      padding: 0rem;
      span {
        left: 0px;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }

  &__avatar {
    width: 11rem;
    height: 11rem;
    flex: 0 0 11rem;
    border-radius: 50%;
    box-shadow: $box-shadow-elevated;
    margin-right: $spacing-x;
  }

  &__contact {
    @include mq-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: $secondary-color;

    @include hover-focus {
      text-decoration: none;
      .vcard__link-text {
        font-size: 1rem;
        color: $ash-gray;
        text-decoration: underline;
      }
    }

    .icon {
      margin-right: 0.14em;
      color: $secondary-color;
    }
  }

  @include mq(md) {
    &__social {
      display: flex;
      flex-wrap: wrap;

      .vcard__link {
        margin-bottom: 0.4em;
      }
    }

    &__link {
      display: inline-flex;
    }
  }

  // @include mq(lg) {
  //     padding: 2rem 0;
  //     @supports (display: grid) {
  //         &__avatar {
  //             // position: fixed;
  //             .js-scrolled & {
  //                 position: sticky;
  //                 // right: 82.8% ;
  //                 top: 2rem;
  //                 transform: translateX(-230%) translateY(105%) scale(0.9);
  //                 transition: transform .3s ease;
  //             }
  //         }
  //     }
  // }
}
